{{ partial "top.html" . }}
<h1>{{ .Title }}</h1>
<h4>{{ ( index $.Site.Data.translations $.Site.Params.locale ).datepublished }} {{ dateFormat "01-02-2006 15:04:05" .Date }}
{{ if .Params.author }}
    <span>by</span>
    <span itemscope="" itemprop="author" itemtype="http://schema.org/Person">
        <span itemprop="name">
            <a href="/authors/{{ .Params.author}}" itemprop="url" rel="author">{{ .Params.author }}</a>
        </span>
    </span>
{{ end }}
</h4>
{{ partial "share.html" . }}
<article>
    {{ .Content }}
</article>
<script type="text/javascript">
    google_ad_client = "ca-pub-6790702287470373";
    google_ad_slot = "4471144903";
    google_ad_width = 728;
    google_ad_height = 90;
</script>
<!-- padawan.tech-header -->
<script type="text/javascript"
src="//pagead2.googlesyndication.com/pagead/show_ads.js">
</script>

{{ template "_internal/disqus.html" . }}
{{ partial "bottom.html" . }}
